<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="bg-bluegray-900">
  <div class="flex justify-content-center align-items-center min-h-screen ">
    <p-card styleClass="border-3 border-white" [style]="{width:'400px'}" [style]="{'background':'transparent'}">
      <h1 class="text-center font-bold text-white"><p class="text-red-600 inline">Add</p>Admin</h1>
      <form [formGroup]="addForm" (ngSubmit)="onUadd()" >
        <div class="field">
          <label class="pi pi-user text-red-600 font-bold"for="fullname"><p class="text-white inline">FullName</p></label>
          <input pInputText class="w-full text-white" [style]="{'background':'transparent'}" id="fullname" formControlName="fullname" />
          @if(fullname.invalid && (fullname.dirty || fullname.touched)){
          <small class="block p-error">Full name is required</small>
          }
        </div>
        <div class="field">
          <label class="pi
          pi-envelope text-red-600 font-bold" for="email"><p class="text-white inline">Email</p></label>
          <input pInputText class="w-full text-white" [style]="{'background':'transparent'}" id="email" formControlName="email" />
          @if(email.invalid && (email.dirty || email.touched)){
          <small class="block p-error">
            @if(email.hasError('required')){
            <span>Email is requried</span>
            }@else if(email.hasError('pattern')){
            <span>Email is invalid</span>
            }
          </small>
          }
        </div>

        <div class="field">
          <label class="pi pi-lock text-red-600 font-bold" for="password"><P class="text-white inline">Password</P></label>
          <p-password formControlName="password" [style]="{'background':'transparent'}" [feedback]="false" [toggleMask]="true" inputId="password"
          inputStyleClass="w-full text-white bg-bluegray-900" styleClass="w-full" />

          @if(password.invalid && (password.dirty || password.touched)){
          <small class="block p-error">Password is required</small>
          }
        </div>

        <div class="field">
          <label class="pi pi-key text-red-600 font-bold" for="confirmPassword"><p class="text-white inline">Confirm Password</p></label>
          <p-password formControlName="confirmPassword" [style]="{'background':'transparent'}" [feedback]="false" [toggleMask]="true" inputId="confirmPassword"
          inputStyleClass="w-full text-white bg-bluegray-900" styleClass="w-full" />
          @if(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)){
          <small class="block p-error">Confirm Password is required</small>
          }
          @if(addForm.hasError('passwordMismatch')&& password.valid && confirmPassword.valid){
          <small class="block p-error">Password mismatch</small>
          }

        </div>

        <button pButton type="submit" label="SUBMIT" class="w-full  p-button-danger " [disabled]="addForm.invalid" ></button>
        <p-button label="BACK" styleClass="w-full p-button-secondary mt-3" routerLink="/admin"
        [ngStyle]="{backgroundColor:'surface-900'}"></p-button>


      </form>
    </p-card>
  </div>
</body>

</html>

