<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p-toolbar styleClass="bg-bluegray-900 opacity-70">
    <div class="p-toolbar-group-start">
      <h5 class="text-white"><i class="pi pi-home" style="font-size: 2rem"></i>Home</h5>
    </div>

    <div class="p-toolbar-group-end ">
      <p-button class="mx-5 " severity="primary" [rounded]="true" routerLink="/register">Register</p-button>
      <p-button severity="danger" [rounded]="true" routerLink="/login">Login</p-button>

    </div>
  </p-toolbar>

  <div class="bgimg-text mt-8">
    <h1 class="mt-4 pb-5 pl-5 font-bold text-bluegray-50 border-left-3 border-bottom-3 text-8xl ">Welcome to Web CRUD Angular<i class="ml-5 pi pi-spin pi-cog" style="font-size: 5rem"></i></h1>
  </div>


  <footer>

  </footer>


</body>

</html>
